COMPOSE_PROFILES=primary-worker

PRIMARY_VIDEO_IP=10.70.15.3
PRIMARY_PORT_RANGE=9000-9010

REDIS_URL=redis://<management-redis-ip>:6379/0

MAX_FULL_HLS_SERVICES=2
HLS_MIN_FREE_BYTES=1000000000
HLS_STORAGE_QUOTA_BYTES=0
